<div id="footer">
	<div class="footerDiv footerDivL">
		<a href="https://facebook.com/artistofcolor2018" class="footerLeftItem" target="_blank">
            <img class="footerImg" src="{{ site.baseurl }}/img/facebook.png">
        </a>
        <a href="https://instagram.com/artistofcolor2018" class="footerLeftItem" target="_blank">
            <img class="footerImg imgColorInvert" src="{{ site.baseurl }}/img/instagram.png">
        </a>
<!--         <div class="footerLeftItem" id="footerLeftItemP">
			<p id="footerp">
				A Day in the Life of an Artist of Color
				<br>
				Becca Khalil
			</p>
		</div> -->
	</div>
	<div class="footerDiv">
		<p id="footerp">A Day in the Life of an Artist of Color is an ongoing project that brings together Artists of Color in Philadelphia through the curation of both digital and physical spaces.</p>
	</div>
	<div class="footerDiv footerDivR">
		<p id="footerp">Upcoming:<br>
	<a class="alwaysonlink" target="_blank" href="https://www.facebook.com/events/211418756119188/">Artist Mixer #2</a> on May 12.
	<br>
	<a class="alwaysonlink" target="_blank" href="https://www.indiegogo.com/projects/a-day-in-the-life-of-an-artist-of-color-community/">Indiegogo</a> pre-launch page.</p>
	</div>
</div>