<link rel="stylesheet" type="text/css" href="../css/default.css">

<div id="header">

<div class="titleDiv">
	<img src="../img/slide/05.jpg" class="sidetitleimg"/>
	<a class="headerHeadingA" href="{{ site.baseurl }}/">
		<div class="overtitle" align="center">
        	&nbsp;
    	</div>
    </a>
</div>
<div class="titleDiv">
	<img src="../img/slide/04.jpg" class="sidetitleimg"/>
	<a class="headerHeadingA" href="{{ site.baseurl }}/about">
		<div class="overtitle" align="center">
        	<br>
        	<h3 class="cardH">About</h3>
    	</div>
    </a>
</div>
<div class="titleDiv">
	<img src="../img/slide/03.jpg" class="sidetitleimg"/>
	<a class="headerHeadingA" href="{{ site.baseurl }}/poem">
		<div class="overtitle" align="center">
        	<br>
        	<h3 class="cardH">Poem</h3>
    	</div>
    </a>
</div>
<div class="titleDiv">
	<img src="../img/slide/02.jpg" class="sidetitleimg"/>
	<a class="headerHeadingA" href="{{ site.baseurl }}/photoseries">
		<div class="overtitle" align="center">
        	<br>
        	<h3 class="cardH">Photo Series</h3>
    	</div>
    </a>
</div>
<div class="titleDiv">
	<img src="../img/slide/01.jpg" class="sidetitleimg"/>
	<a class="headerHeadingA" href="{{ site.baseurl }}/artistmixer">
		<div class="overtitle" align="center">
        	<br>
        	<h3 class="cardH">Artist Mixer</h3>
    	</div>
    </a>
</div>


</div>